/*Modifica o tipo da borda, a largura da borda e o preenchimento do div com classe "historia-preview"*/
.historia-preview {
    border-style:double;
    border-radius: 10px;
    padding: 10px;
}

/*Altera a largura e o tamanho da fonte*/
.title {
    font-size: larger;
    font-weight: bold;
}