/*Altera a largura e o modo de exibição da tabela*/
label {
    display: inline-block;
    width: 50px;
}

/*Modifica a margem e a largura dos campos de entrada*/
input {
    width: 250px;
    margin-bottom: 5px;
}

/*Modifica a largura e a cor de fundo dos artigos*/
article {
    width: fit-content;
    background-color: white;
}

/*Modifica a largura e margem superior do botão*/
#botao {
    margin-top: 15px;
    width: 75px;
}