html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

body {
    background-color: #DDDDDD;
    overflow-x: hidden;
}

.header {
    background-color: rgb(0, 124, 124);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.header_toolbar {
    text-decoration: none;
    height: auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.header_content {
    background-color: rgb(0, 124, 124);
    /* box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); */
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    color: white;
    font-size: large;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}


li:hover {
    background-color: rgb(0, 200, 200);
}

.body_content {
    height: 550px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    background: white;
}

.header_slogan {
    font-weight: bold;
    padding-top: 10px;
}

article {
    background-color: #FFFFFF;
}