.logo {
    width: 50px;
}

footer {
    position:fixed;
    bottom: 0px;
}

div {
    border-radius: 10px;
}

#menus {
    border-radius: 0px;
}

#sobren {
    text-align: justify;
}

#sobren, #cadastr, #consult, #ind, #log, #vishist, #comentar, #indic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 40px;
}